**Your First Program**

In [ ]:
print("I Love VITyarthi")

I Love VITyarthi

In [ ]:
#Single Line Comment 

#I am coder

In [ ]:
#Multi-line Comment 

#Python is easy
#to learn with
#VITyarthi Platform

**Indentation and Numbers**

In [ ]:
#Docstring Comment"
"""I am a great speaker"""
'''I am a speaker'''

'I am a speaker'

In [1]:
for i in [1,2,3,4,5]:
  if i%2==0:
    print(i)

2
4

In [ ]:
#Addition of two integers (Integer Data Type)
2+7

9

In [ ]:
#Addition of integers (Integer Data Type)
print(2-9+5+14-3)

9

In [ ]:
#Addition of two numbers (Float Data Type)
print(1.5+2.3)

3.8

In [ ]:
#Addition of numbers (Float Data Type)
print(1.1+2.2+3.3+4.4+5.5)

16.5

In [ ]:
#Addition of two Complex Numbers
print((2+3j)+(3-2j))

(5+1j)

**String Data Type**

In [ ]:
print('I Love Python Coding')
print("I Love Python Coding")

I Love Python Coding
I Love Python Coding

In [2]:
# String Concatenation
print("Python"+" is fun")
print("51"+"20")

Python is fun
5120

**Boolean Data Type**

In [ ]:
print(10<9) #Case 1
print(10==9) #Case 2
print(10>9) #Case 3

False
False
True

**Statements: Create Valid Variables**

In [ ]:
Num 1 #Invalid due to space

SyntaxError: ignored

In [ ]:
Num #valid

NameError: ignored

In [ ]:
1Num #Invalid because it starts with a number

SyntaxError: ignored

In [ ]:
Num1 #valid

NameError: ignored

In [ ]:
Num.1 #Invalid Syntax because variable name can only contain alphanumeric characters and underscores

SyntaxError: ignored

In [ ]:
_Num #valid

NameError: ignored

In [ ]:
Python is fum #Invalid syntax due to spaces

NameError: ignored

In [ ]:
Python_is_fun #Valid

NameError: ignored

In [ ]:
if #Invalid because if is a keyword in Python

SyntaxError: ignored

In [ ]:
IF #valid

NameError: ignored

**Statement: Values and Variables**

In [ ]:
'''Height, Weight and BMI are variable in this program'''
height=1.79
weight=68.7
bmi=weight/(height*height)
print(bmi)

21.44127836209856

**Assignments Statements**

In [1]:
#Simple Assignment
s=100
print(s)

100

In [2]:
#Assign multiple values to multiple variables
a,b=100,200
print(a)
print(b)

100
200

In [3]:
#Assign different type of values to multiple variables
p,q,r=0.1,100,"python"
print(p)
print(q)
print(r)

0.1
100
python

In [5]:
#Assigning same value to multiple variable
x=y=z=50
print(x)
print(y)
print(z)

50
50
50

**Built-in Functions**

In [6]:
abs(-11)

11

In [7]:
divmod(15,2)

(7, 1)

In [8]:
max(100,20,400)

400

In [9]:
min(100,20,400)

20

In [10]:
pow(10,2)

100

In [11]:
round(100.56)

101